@keyframes pulse {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1.0);
    }
}
html {
    position: relative;
    min-height: 100%;
}
body {
  font: 500 16px Futura, sans-serif;
  color: #3e4349;
  min-width: 240px;
}
h1 {
  font-family: inherit;
  font-size: 36px;
  margin: 50px auto;
  text-align: center;
}
ul {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  zoom: 1;
}
li {
  margin: 0 -10px;
  list-style: none;
  overflow: auto;
  zoom: 1;
}
a {
  text-decoration: none;
}
img {
  float: left;
  margin: 10px;
}
h2 {
  font-family: inherit;
  font-size: 24px;
  margin: 10px 0 5px 130px;
  color: #3e4349;
}
p {
  margin: 0 0 0 130px;
  color: #bbb;
}
footer {
  display: none;
}
@media (min-width: 480px) {
  body {
    padding-bottom: 64px;
  }
  ul {
    margin: 0 auto;
  }
  li {
    margin: 0;
    float: left;
    overflow: visible;
  }
  img {
    opacity: 0.5;
  }
  a:hover img {
    opacity: 1;
    animation-name: pulse;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
  }
  h2 {
    display: none;
  }
  p {
    display: none;
  }
  footer {
    display: block;
    color: #fff;
    font-weight: 500;
    background: #3e4349;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16px;
    width: 100%;
    text-align: center;
    line-height: 16px;
    padding: 19px;
  }
}